<div class="footer">
  <div class="footer-container">
    <div class="footer-column-left">
      <div class="logo-wrapper">
        <img class="logo" alt="Otero Ediciones Logo" src="./assets/Logo EdicionesOtero.png"/>
      </div>
      <ul class="social-network-conteiner">
        <a href="https://www.instagram.com/otero_ediciones/" target="_blank">
          <img class="social-network-icon" alt="Instagram Icon" src="./assets/instagram_icon.png" />
        </a>
        <a href="https://www.facebook.com/p/Otero-Ediciones-100082000787803/" target="_blank">
          <img class="social-network-icon" alt="Facebook Icon" src="./assets/facebook_icon.svg" />
        </a>
      </ul>
    </div>
    <div class="footer-column-right">
      <h4>{{ 'CONTACT' | translate}}</h4>
      <a href="mailto:otero_ediciones@yahoo.com">Email: otero_ediciones&#64;yahoo.com</a>
      <a href="tel:+59170202368">{{ 'PHONE' | translate}}</a>
      <a href="https://g.co/kgs/VtxhWGK">{{ 'DIRECTION' | translate}}</a>
    </div>
  </div>
</div>
