.historia-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.historia-container h1 {
  font-size: 2.5rem; /* Tamaño más grande */
  margin-top: 2rem;
}

.historia-container h2 {
  font-size: 1.8rem;
  margin-top: 1.8rem;
}

.historia-container h3 {
  font-size: 1.4rem;
  margin-top: 1.2rem;
}


.historia-container h1,
.historia-container h2,
.historia-container h3 {
  margin-top: 2rem;
}

.historia-container ul {
  padding-left: 1.5rem;
  list-style-type: disc;
}
