<div class="historia-container">
  <h1>{{ 'HISTORIA.TITLE' | translate }}</h1>
  <p>{{ 'HISTORIA.P1' | translate }}</p>
  <p>{{ 'HISTORIA.P2' | translate }}</p>

  <h2>{{ 'HISTORIA.OUR_PROPOSAL' | translate }}</h2>
  <p>{{ 'HISTORIA.P3' | translate }}</p>

  <h3>{{ 'HISTORIA.LIT_GUIDE_TITLE' | translate }}</h3>
  <p>{{ 'HISTORIA.P4' | translate }}</p>

  <h3>{{ 'HISTORIA.EDU_TEXTS_TITLE' | translate }}</h3>
  <p>{{ 'HISTORIA.P5' | translate }}</p>

  <ul>
    <li><strong>{{ 'HISTORIA.LIST.PHYSICAL_EDUCATION' | translate }}</strong></li>
    <li><strong>{{ 'HISTORIA.LIST.MUSIC_EDUCATION' | translate }}</strong></li>
    <li><strong>{{ 'HISTORIA.LIST.VISUAL_ARTS' | translate }}</strong></li>
    <li><strong>{{ 'HISTORIA.LIST.VALUES_BOOK' | translate }}</strong></li>
    <li><strong>{{ 'HISTORIA.LIST.COSMOVISION' | translate }}</strong></li>
    <li><strong>{{ 'HISTORIA.LIST.LANGUAGE' | translate }}</strong></li>
  </ul>

  <h2>{{ 'HISTORIA.BEYOND_CONTENT' | translate }}</h2>
  <p>{{ 'HISTORIA.P6' | translate }}</p>
  <p>{{ 'HISTORIA.P7' | translate }}</p>
</div>
