<div class="book-detail-wrapper">
  <div *ngIf="book" class="book-detail-container">
    <div class="left-column">
      <img class="book-cover" [src]="book.tapa_original_url" [alt]="book.titulo" />
    </div>

    <div class="right-column">
      <h1 class="book-title">{{ book.titulo }}</h1>
      <hr class="section-divider" />

      <div class="info-columns-wrapper">
        <div class="info-rows-wrapper">
          <app-book-detail-feature
            [label]="'DETAIL_AUTHOR' | translate"
            [value]="book.autor"
            *ngIf="book.autor">
          </app-book-detail-feature>

          <app-book-detail-feature
            [label]="'DETAIL_ILLUSTRATOR' | translate"
            [value]="book.ilustrador"
            *ngIf="book.ilustrador">
          </app-book-detail-feature>

          <app-book-detail-feature
            [label]="'DETAIL_TYPE' | translate"
            [value]="book.tipo | translate"
            *ngIf="book.tipo">
          </app-book-detail-feature>

          <app-book-detail-feature
            [label]="'DETAIL_SUBJECT' | translate"
            [value]="book.materia | translate"
            *ngIf="book.materia">
          </app-book-detail-feature>

          <app-book-detail-feature
            [label]="'DETAIL_LEVEL' | translate"
            [value]="book.nivel_educativo | translate"
            *ngIf="book.nivel_educativo">
          </app-book-detail-feature>

          <app-book-detail-feature
            [label]="'DETAIL_GENRE' | translate"
            [value]="book.genero | translate"
            *ngIf="book.genero">
          </app-book-detail-feature>

          <app-book-detail-feature
            [label]="'IDIOMA' | translate"
            [value]="book.idioma | translate"
            *ngIf="book.idioma">
          </app-book-detail-feature>

          <app-book-detail-feature
            [label]="'DETAIL_GUIDE' | translate"
            [value]="book.guia_didactica | translate"
            *ngIf="book.guia_didactica">
          </app-book-detail-feature>

          <app-book-detail-feature
            [label]="'DETAIL_SIZE' | translate"
            [value]="book.tamano"
            *ngIf="book.tamano">
          </app-book-detail-feature>

          <app-book-detail-feature
            [label]="'DETAIL_PAGES' | translate"
            [value]="book.paginas | number:'1.0-0'"
            *ngIf="book.paginas">
          </app-book-detail-feature>

          <app-book-detail-feature
            [label]="'DETAIL_ISBN' | translate"
            [value]="book.isbn"
            *ngIf="book.isbn">
          </app-book-detail-feature>

          <app-book-detail-feature
            [label]="'DETAIL_DEPOSIT' | translate"
            [value]="book.deposito_legal"
            *ngIf="book.deposito_legal">
          </app-book-detail-feature>


        </div>
      </div>

      <hr class="section-divider" *ngIf="descripcionText !== undefined && descripcionText !== null && descripcionText !== ''"/>

      <div class="sinopsis-wrapper" *ngIf="descripcionText !== undefined && descripcionText !== null && descripcionText !== ''">
        <h2>{{ 'SYNOPSIS' | translate }}</h2>
        <div class="sinopsis" [innerText]="descripcionText"></div>
      </div>
    </div>
  </div>
</div>


