/* You can add global styles to this file, and also import other style files */
* {
  font-family: montserrat, SansSerif, serif;
  font-size: 1rem;
  box-sizing: border-box;
}

:root {
  --primary-color: #e10916;
  --primary-color-dark: #b60707;
  --secondary-color: #f39c12;
  --font-size-base: 16px;
  --font-family-main: 'Roboto', sans-serif;
}
